<div class="header">
    <div class="logo">
        <a href="/">Labai blog'as <i class="bi bi-chat-left-dots-fill"></i></a>
    </div>
    <div class="menu">
        <a href="/login">login</a>
        <a href="/register">register</a>
    </div>
</div>