<div class="header">
    <div class="logo">
        <a href="/">Labai blog'as <i class="bi bi-chat-left-dots-fill"></i></a>
    </div>
    <div class="menu">
        <% if((typeof user === 'undefined')){ %>
        <a href="/login">login</a>
        <a href="/register">register</a>
        <% } else{ %>
            <a href="/user"><%= user %></a>
            <!-- <a href="/<%= user %>"><%= user %></a> -->
            <% } %>
    </div>
</div>




